{% extends 'layout.html' %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/homepage.css') }}">
{% endblock %}

{% block body %}

    <div class="container-fluid homepage-bg-image">
        <div class="homepage-overlay text-center">
            <div class="description">
                <h1>Ultimate Perception Tool</h1>
                <p>Track Progress</p> <br>
                <p>Gain Meaningful Insights</p> <br>
                <p>Obtain Measurable Results</p>
            </div>
        </div>
    </div>

{% endblock %}