<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>Ultimate Perception Tool</title>
    {% endif %}

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-material-design.css') }}">


    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/material_colors.css') }}">

    {% block styles %}
        {# Custom per-page styles can be included here. #}
    {% endblock %}


</head>

<body>

{% include 'partial/_navbar.html' %}

{% block body %} {% endblock %}
{% include 'partial/_scripts.html' %}

{% include 'partial/_footer.html' %}

</body>

</html>