{% extends 'layout.html' %}

{% macro render_field(field) %}
    <dt>{{ field.label }}
    <dd>{{ field(**kwargs)|safe }}
        {% if field.errors %}
            <ul class=errors>
                {% for error in field.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </dd>
{% endmacro %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login_page.css') }}">
{% endblock %}

{% block body %}
    <br/>
    <div class="form-signin">
        <div class="text-center mb-4">
            <img class="mb-4" src="{{ url_for('static', filename='images/ultimate_software.png') }}" width="190">
            <h1 class="h3 mb-3 font-weight-normal">Register</h1>
        </div>

        <form method="POST" action="">
            {{ form.csrf_token }}
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label class="bmd-label-floating">First Name</label>
                        <input type="text" class="form-control" name="username">
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label class="bmd-label-floating">Last Name</label>
                        <input type="text" class="form-control" name="username">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="bmd-label-floating">Username</label>
                <input type="text" class="form-control" name="username">
            </div>

            <div class="form-group">
                <label class="bmd-label-floating">Email</label>
                <input type="text" class="form-control" name="username">
            </div>

            <div class="form-group">
                <label class="bmd-label-floating">Position Title</label>
                <input type="text" class="form-control" name="username">
            </div>

            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label class="bmd-label-floating">Password</label>
                        <input type="password" class="form-control" name="username">
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label class="bmd-label-floating">Confirm password</label>
                        <input type="password" class="form-control" name="username">
                    </div>
                </div>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit" value="Register">Register</button>
            </p>
        </form>
    </div>
{% endblock %}
