{% extends 'layout.html' %}

{% macro render_field(field) %}
    <dd>{{ field(**kwargs)|safe }}
        {% if field.errors %}
            <ul class=errors>
                {% for error in field.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </dd>
{% endmacro %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login_page.css') }}">
{% endblock %}

{% block body %}
    <br/>
    <div class="container card">
    <div class="form-signin">
        <div class="text-center mb-4">
<!--            <img class="mb-4" src="{{ url_for('static', filename='images/ultimate_software.png') }}" width="190">-->
            <h1 class="h3 mb-3 font-weight-normal">Register</h1>
        </div>

        <form method="POST" action="">
            {{ form.csrf_token }}
            <div class="form-group">
                <label class="bmd-label-floating">Name</label>
                {{ render_field(form.name, class_="form-control", type_="text") }}
            </div>
            <div class="form-group">
                <label class="bmd-label-floating">Username</label>
                {{ render_field(form.username, class_="form-control") }}
            </div>

            <div class="form-group">
                <label class="bmd-label-floating">Email</label>
                {{ render_field(form.email, class_="form-control") }}
            </div>

            <div class="form-group">
                <label class="bmd-label-floating">Position Title</label>
                {{ render_field(form.position, class_="form-control") }}
            </div>

            <div class="form-group">
                <label class="bmd-label-floating">Company ID</label>
                {{ render_field(form.company, class_="form-control") }}
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label class="bmd-label-floating">Password</label>
                        {{ render_field(form.password, class_="form-control") }}
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label class="bmd-label-floating">Confirm password</label>
                        {{ render_field(form.confirm, class_="form-control") }}
                    </div>
                </div>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit" value="Register">Register</button>
            </p>
        </form>
    </div>
{% endblock %}