<div class="Navigation">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a href="/" class="navbar-brand">
            <img src="{{ url_for('static', filename='images/ultimate_software.png') }}" width="110">
        </a>
        <div class="mr-auto navbar-nav"></div>
        <div class="btn-group">
            <a href="{{ url_for('index') }}" class="btn btn-primary">Home</a>
            <a href="{{ url_for('validate_uuid') }}" class="btn btn-primary">Take Survey</a>

            {% if session.logged_in %}
                {% if session.username == 'admin' %}
                    <a href="{{ url_for('manage_companies') }}" class="btn btn-primary">Manage Companies</a>
                {% endif %}
                <a href="{{ url_for('create_form') }}" class="btn btn-primary">Create Survey</a>
                {% if email_enabled %}
                    <a href="{{ url_for('send_survey') }}" class="btn btn-primary">Send Survey</a>
                {% endif %}
                <a href="{{ url_for('view_library') }}" class="btn btn-primary">My Surveys</a>

                <a href="{{ url_for('user_settings') }}" class="btn btn-primary">Settings</a>

                <a href="{{ url_for('logout') }}" class="btn btn-primary">Sign Out</a>
            {% else %}
                <a href="{{ url_for('login') }}" class="btn btn-primary">Sign In</a>
                <a href="{{ url_for('register') }}" class="btn btn-primary">Register</a>
            {% endif %}

        </div>
    </nav>

</div>