{% extends 'layout.html' %}

{% block body %}
    <br/>
    <div class="jumbotron text-center">
        <h1>All Created Surveys</h1>
        <br/>
        {% if surveys %}
            {% for survey in surveys %}
                {{ survey['name'] }}:
                <a href="{{ url_for('view_form', form_id=survey['id']) }}" class="btn btn-primary btn-raised">View</a>
                <hr>
            {% endfor %}
        {% else %}
            <p>You have no surveys...</p>
        {% endif %}
    </div>
{% endblock %}