{% extends 'layout.html' %}

    {% block styles %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/login_page.css') }}">
    {% endblock %}

{% block body %}
    <br>
    <div class="container card">
    <br>
        <h1 class="text-center">Access Survey</h1>
        <form method="POST"  name="verify_uuid">
            <div class="form-group">
                <label for="uuid_input" class="bmd-label-floating">Unique Access Key</label>
                <input type="text" class="form-control" name="uuid_input"
                       value="{% if uuid %}{{ uuid }}{% endif %}">
            </div>

            <button class="btn btn-lg btn-primary btn-block" type="submit" value="Submit">Validate</button>
            {% if error %}
                <p style="color: darkred" class="text-center">{{ error }}</p>
            {% endif %}
        </form>
        {% if uuid %}
        <script type="text/javascript">window.onload = function(){document.forms['verify_uuid'].submit();}</script>
        {% endif %}
    </div>
{% endblock %}