{% extends 'layout.html' %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/view_survey.css') }}">
{% endblock %}

{% macro render_field(field) %}
  <div>{{ field.label }}
  <dd>{{ field(**kwargs)|safe }}
  {% if field.errors %}
    <ul class=errors>
    {% for error in field.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  </dd>
{% endmacro %}


{% block body %}
<br/>
<div class="container" style="background-color:#509E2F; width: 100%">
    <br/>
    <br/>
    <h1 class="text-center" style="color: white">Survey Name Here</h1>
    <br/>
    <br/>
    <form method="POST" action="{{url_for('submit_survey', survey_id=surveyID)}}">
        {% if uuid %}
            <input type="hidden" name="uuid" value="{{uuid}}">
        {% endif %}
 </div>
        <div class="container jumbotron text-center" style="background-color: white; color: #509E2F;  outline: 2px dashed #509e2f">
        {{ form.csrf_token }}
        {% if form.strings %}
            {{ form.strings.csrf_token }}
            {% for entry in form.strings.entries %}
                <card style="text-align: center">
                    <br/>
                    
                    {{ render_field(entry.string, class_="form-control") }}
                    
                </div>
            {% endfor %}
        {% endif %}

        <br/>
        <br/>
        <br/>
        {% if form.radios %}
            {{ form.radios.csrf_token }}
            {% for entry in form.radios.entries %}
                <div>
                    {{ render_field(entry.radio, class_="radio-inline") }}
                </div>
                <br/>
            {% endfor %}
        {% endif %}

        <br/>
        <br/>
        <br/>
        {% if form.integers %}
            {{ form.integers.csrf_token }}
            {% for entry in form.integers.entries %}
                <div>
                    {{ render_field(entry.integer, class_="form-control") }}
                </div>
                <br/>
            {% endfor %}
        {% endif %}

        <br/>
        <br/>
        <br/>
        {% if form.decimals %}
            {{ form.decimals.csrf_token }}
            {% for entry in form.decimals.entries %}
                <div>
                {{ render_field(entry.decimal, class_="form-control") }}
                </div>
                <br/>
            {% endfor %}
        {% endif %}

        <br/>
        <br/>
        <br/>
        {% if form.selects %}
            {{ form.selects.csrf_token }}
            {% for entry in form.selects.entries %}
                <div class="form-group"></div>
                {{ render_field(entry.select, class_="form-control") }}
                </div>
                <br/>
            {% endfor %}
        {% endif %}
        </div>
        
        <br/>
        <br/>
        <br/>
        {% if view_only %}
        <p>
            <a class="btn btn-primary" href={{url_for("view_library")}}>Go Back</a>
        </p>
        {% else %}
        <p>
            <input type="submit" class="btn btn-primary" value="Submit">
            <a class="btn btn-danger" href={{url_for("index")}}>Cancel</a>
        </p>
        {% endif %}
    </form>
</div>
</div>
{% endblock %}
